{% extends "main.html" %}
{% block content %}

<div class="profile-container">
    <h2>About QuickSky Flights ✈️</h2>

    <p>
        QuickSky is a modern flight booking platform that allows users to search,
        book and manage airline tickets easily.
    </p>

    <p>
        This project is built using <b>Django, HTML, CSS</b> and provides
        features like booking, history, profile management and secure login.
    </p>

    <p>
        Our goal is to provide a smooth and fast flight booking experience,
        just like real airline websites.
    </p>

    <p style="margin-top:20px;">
        👨‍💻 Developed by <b>Chandru</b>
    </p>
</div>

{% endblock %}
