{% extends "main.html" %}
{% block content %}

<h2 align="center">My Bookings</h2>

{% for b in bookings %}
<div class="flight-card booking-card">

    <!-- LEFT : Passenger -->
    <div class="booking-left">
        <h4>{{ b.passenger_name }}</h4>
        <p><b>Aadhar:</b> {{ b.aadhar_number }}</p>
        <p><b>Age:</b> {{ b.age }}</p>
        <p><b>Seat Class:</b> {{ b.seat_class }}</p>
        <p><b>Seat No:</b> {{ b.seat_number }}</p>
    </div>

    <!-- MIDDLE : Flight -->
    <div class="booking-middle">
        <h4>{{ b.flight.airline }}</h4>
        <p>{{ b.flight.airline }} - {{ b.flight.flight_no }}</p>
        <p><b>From:</b> {{ b.flight.origin }}</p>
        <p><b>To:</b> {{ b.flight.destination }}</p>
        <p><b>Email:</b> {{ b.email }}</p>
    </div>

    <!-- RIGHT : Time + Actions -->
    <div class="booking-right">
        <p><b>Phone:</b> {{ b.phone }}</p>
        <p><b>Departure:</b> {{ b.flight.departure_time }}</p>
        <p><b>Date:</b> {{ b.flight.departure_date }}</p>
        <h4>₹{{ b.flight.price }}</h4>

        <a href="{% url 'update_booking' b.id %}" class="book-now-btn">Update Details</a><br><br>
        <a href="{% url 'cancel_booking' b.id %}" class="cancel-btn">Cancel Booking</a>
    </div>

</div>
{% empty %}
<p align="center">No bookings yet</p>
{% endfor %}

{% endblock %}
